@function hash($s)
{
	$h: 7;
	$l: 'acdegilmnoprstuw';
	$list: null;

	@for $i from 1 through str-length($s) {
		$mm: str-slice($s, $i, $i);
		
		$h: ($h * 37) + (str-index($l,$mm) - 1);
	}

	@return $h;
}

@function dehash($d)
{

	@if $d > 9223372036854775807
	{
		$warn: 'number exceeds max int allowed';
		@warn $warn;
		@return $warn;
	}

	$hash: decompress($d);
	$rev: implode($hash);

	@return $rev;
}

@function decompress($d, $new: ())
{
	$l: 'acdegilmnoprstuw';
	$list: ();
	
	$nl: null;

	@for $i from 1 through str-length($l)
	{
		$nl: str-slice($l, $i, $i);
		$list: append($list,$nl);
	}

	$i: 0;

	@while $d > 7 {
		@if ($d - $i) % 37 == 0
		{
			$d: ($d - $i) / 37;
			$new: append($new,nth($list,($i + 1)));
			$i: 0;
		}
		@else {
			$i: $i + 1;
		}
	}

	@return $new;
}

@function implode($l)
{
	@if type-of($l) != list {
		$warn: 'value must be an array';
		@warn $warn;
		@return $warn;
	}

	$string: '';

	@each $s in $l {
		$string: str-insert($string,$s,1);
	}

	@return $string;
}